Repository informalsystems/hermes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adizere, @ancazamfir, @romac, @hu55a1n1, @plafer, @soareschen, @seanchen1991, @mzabaluev

Add indexes for foreign keys and columns used in queries or views
  relayer-x/schema.sql
Owners: @adizere, @ancazamfir, @romac

Consistent case for column names
  relayer-x/schema.sql
Owners: @adizere, @ancazamfir, @romac

QueryClientStateRequest domain type
  relayer-cli/src/commands/create/channel.rs
  relayer-cli/src/commands/create/connection.rs
  relayer-cli/src/commands/misbehaviour.rs
  relayer-cli/src/commands/query/channel_ends.rs
  relayer-cli/src/commands/query/channels.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/tx/client.rs
  relayer-cli/src/commands/tx/transfer.rs
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/counterparty.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/requests.rs
  relayer/src/chain/runtime.rs
  relayer/src/foreign_client.rs
  relayer/src/link/operational_data.rs
  relayer/src/object.rs
  relayer/src/supervisor/client_state_filter.rs
  relayer/src/supervisor/scan.rs
  relayer/src/upgrade_chain.rs
  tools/integration-test/src/tests/client_settings.rs
  tools/test-framework/src/relayer/chain.rs
Owners: @mzabaluev, @romac, @adizere, @seanchen1991, @soareschen

Add event type to packet search.
  relayer-x/ibc-proxy/src/routes/packet.rs
  relayer-x/ibc-proxy/src/search.rs
Owners: @adizere, @ancazamfir, @romac

Simplify the sql view for packet tx query.
  relayer-x/schema.sql
Owners: @adizere, @ancazamfir, @romac

Disable psql block query
  relayer/src/link/relay_path.rs
Owners: @adizere, @romac, @seanchen1991

QueryConsensusStatesRequest domain type
  relayer-cli/src/commands/query/client.rs
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/requests.rs
  relayer/src/chain/runtime.rs
  relayer/src/foreign_client.rs
  tools/test-framework/src/relayer/chain.rs
Owners: @mzabaluev, @romac, @adizere, @seanchen1991

bunch of domain types
  relayer-cli/src/commands/query/channels.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/query/connection.rs
  relayer-cli/src/commands/query/connections.rs
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/counterparty.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/requests.rs
  relayer/src/chain/runtime.rs
  relayer/src/channel.rs
  relayer/src/connection.rs
  relayer/src/supervisor/scan.rs
  tools/test-framework/src/relayer/chain.rs
Owners: @mzabaluev, @romac, @adizere, @seanchen1991

Update modules/README.md
  modules/README.md
Owners: @hu55a1n1, @plafer

bunch of domain types
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/counterparty.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/requests.rs
  relayer/src/chain/runtime.rs
  relayer/src/link/relay_path.rs
  tools/test-framework/src/relayer/chain.rs
Owners: @adizere, @romac, @seanchen1991

rest of domain types
  relayer-cli/src/commands/create/channel.rs
  relayer-cli/src/commands/query/channel_ends.rs
  relayer-cli/src/commands/query/channels.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/query/connection.rs
  relayer-cli/src/commands/tx/channel.rs
  relayer-cli/src/commands/tx/transfer.rs
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/counterparty.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/requests.rs
  relayer/src/chain/runtime.rs
  relayer/src/channel.rs
  relayer/src/connection.rs
  relayer/src/foreign_client.rs
  relayer/src/link.rs
  relayer/src/link/relay_path.rs
  relayer/src/supervisor/client_state_filter.rs
  relayer/src/supervisor/scan.rs
  tools/test-framework/src/relayer/chain.rs
  tools/test-framework/src/relayer/connection.rs
Owners: @mzabaluev, @romac, @adizere, @seanchen1991

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Last resort
*       @adizere @ancazamfir @romac

modules/ @hu55a1n1 @plafer

tools/ @soareschen

docs/ @seanchen1991 @adizere

guide/ @seanchen1991

relayer-cli/ @mzabaluev @romac

ci/ @mzabaluev @soareschen

relayer/ @adizere @romac @seanchen1991
