Repository informalsystems/hermes, pull requests merged in 2020-05, with the labels that each got.

#28 [WIP] Relayer ADR and diagrams
  docs/architecture/adr-002-ibc-relayer.md
  docs/architecture/assets/IBC_client_heights.jpeg
  docs/architecture/assets/IBC_conn_handshake_relay.jpeg
  docs/architecture/assets/IBC_relayer.jpeg
  docs/architecture/assets/IBC_relayer_threads.jpeg
  relayer/relay/src/config.rs
  relayer/relay/tests/config/fixtures/relayer_conf_example.toml
Labels: relayer, spec, work in progress

#78 Check query parameters but not against the config
  codecov.yml
  modules/src/ics02_client/query.rs
  modules/src/ics04_channel/msgs.rs
  modules/src/ics04_channel/query.rs
  relayer/cli/Cargo.toml
  relayer/cli/src/commands/query/channel.rs
  relayer/cli/src/commands/query/client.rs
  relayer/cli/tests/fixtures/two_chains.toml
Labels: bug

#42 [WIP] Connection handshake English spec
  docs/spec/README.md
  docs/spec/connection-handshake/CHANGELOG.md
  docs/spec/connection-handshake/L1_2.md
  docs/spec/connection-handshake/L2-tla/ConnectionHandshakeModule.tla
  docs/spec/connection-handshake/L2-tla/Environment.tla
  docs/spec/connection-handshake/L2-tla/ICS3Types.tla
  docs/spec/connection-handshake/L2-tla/README.md
  docs/spec/connection-handshake/README.md
Labels: connection
