Repository informalsystems/hermes, pull requests merged in 2021-09, with the labels that each got.

#1283 modules: Change all `*Reader` traits to return `Result` instead of `Option`
  .changelog/unreleased/improvements/ibc/1268-reader-result.md
  modules/src/application/ics20_fungible_token_transfer/relay_application_logic/send_transfer.rs
  modules/src/ics02_client/context.rs
  modules/src/ics02_client/handler/create_client.rs
  modules/src/ics02_client/handler/update_client.rs
  modules/src/ics02_client/handler/upgrade_client.rs
  modules/src/ics03_connection/context.rs
  modules/src/ics03_connection/error.rs
  modules/src/ics03_connection/handler/conn_open_ack.rs
  modules/src/ics03_connection/handler/conn_open_confirm.rs
  modules/src/ics03_connection/handler/conn_open_init.rs
  modules/src/ics03_connection/handler/conn_open_try.rs
  modules/src/ics03_connection/handler/verify.rs
  modules/src/ics03_connection/version.rs
  modules/src/ics04_channel/context.rs
  modules/src/ics04_channel/error.rs
  modules/src/ics04_channel/handler/acknowledgement.rs
  modules/src/ics04_channel/handler/chan_close_confirm.rs
  modules/src/ics04_channel/handler/chan_close_init.rs
  modules/src/ics04_channel/handler/chan_open_ack.rs
  modules/src/ics04_channel/handler/chan_open_confirm.rs
  modules/src/ics04_channel/handler/chan_open_init.rs
  modules/src/ics04_channel/handler/chan_open_try.rs
  modules/src/ics04_channel/handler/recv_packet.rs
  modules/src/ics04_channel/handler/send_packet.rs
  modules/src/ics04_channel/handler/timeout.rs
  modules/src/ics04_channel/handler/timeout_on_close.rs
  modules/src/ics04_channel/handler/verify.rs
  modules/src/ics04_channel/handler/write_acknowledgement.rs
  modules/src/ics05_port/context.rs
  modules/src/ics05_port/error.rs
  modules/src/mock/context.rs
  modules/tests/runner/mod.rs
  modules/tests/support/model_based/IBC.tla
  modules/tests/support/model_based/IBCTests.tla
  modules/tests/support/model_based/ICS03.tla
Labels: modules

#1295 Ethermint support
  .changelog/unreleased/features/1267-ethermint-support.md
  Cargo.lock
  ci/README.md
  config.toml
  proto/src/lib.rs
  relayer-cli/src/commands/keys/restore.rs
  relayer/Cargo.toml
  relayer/src/chain/cosmos.rs
  relayer/src/chain/mock.rs
  relayer/src/config.rs
  relayer/src/error.rs
  relayer/src/keyring.rs
  relayer/src/keyring/errors.rs
  relayer/src/keyring/pub_key.rs
  relayer/tests/config/fixtures/relayer_conf_example.toml
Labels: needs guide update

#1395 Use safe-regex instead of regex for regular expression
  Cargo.lock
  ci/no-std-check/Cargo.lock
  ci/no-std-check/Cargo.toml
  modules/Cargo.toml
  modules/src/ics24_host/identifier.rs
Labels: no-std
