Repository informalsystems/hermes, pull requests merged in 2021-12, with the labels that each got.

#1576 Update to abscissa 0.6.0-beta.1 and clap 3.0.0-beta.5
  .changelog/unreleased/improvements/ibc-relayer/1576-update-abscissa.md
  Cargo.lock
  e2e/e2e/connection.py
  modules/Cargo.toml
  modules/src/core/ics04_channel/channel.rs
  modules/tests/mbt.rs
  relayer-cli/Cargo.toml
  relayer-cli/src/application.rs
  relayer-cli/src/commands.rs
  relayer-cli/src/commands/config.rs
  relayer-cli/src/commands/config/validate.rs
  relayer-cli/src/commands/create.rs
  relayer-cli/src/commands/create/channel.rs
  relayer-cli/src/commands/create/connection.rs
  relayer-cli/src/commands/health.rs
  relayer-cli/src/commands/keys.rs
  relayer-cli/src/commands/keys/add.rs
  relayer-cli/src/commands/keys/delete.rs
  relayer-cli/src/commands/keys/list.rs
  relayer-cli/src/commands/keys/restore.rs
  relayer-cli/src/commands/listen.rs
  relayer-cli/src/commands/misbehaviour.rs
  relayer-cli/src/commands/query.rs
  relayer-cli/src/commands/query/channel.rs
  relayer-cli/src/commands/query/channel_ends.rs
  relayer-cli/src/commands/query/channels.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/query/clients.rs
  relayer-cli/src/commands/query/connection.rs
  relayer-cli/src/commands/query/connections.rs
  relayer-cli/src/commands/query/packet.rs
  relayer-cli/src/commands/query/packet/ack.rs
  relayer-cli/src/commands/query/packet/acks.rs
  relayer-cli/src/commands/query/packet/commitment.rs
  relayer-cli/src/commands/query/packet/commitments.rs
  relayer-cli/src/commands/query/packet/unreceived_acks.rs
  relayer-cli/src/commands/query/packet/unreceived_packets.rs
  relayer-cli/src/commands/query/tx.rs
  relayer-cli/src/commands/query/tx/events.rs
  relayer-cli/src/commands/start.rs
  relayer-cli/src/commands/tx.rs
  relayer-cli/src/commands/tx/channel.rs
  relayer-cli/src/commands/tx/client.rs
  relayer-cli/src/commands/tx/connection.rs
  relayer-cli/src/commands/tx/packet.rs
  relayer-cli/src/commands/tx/transfer.rs
  relayer-cli/src/commands/tx/upgrade.rs
  relayer-cli/src/commands/update.rs
  relayer-cli/src/commands/upgrade.rs
  relayer-cli/src/commands/version.rs
  relayer-cli/src/entry.rs
  relayer-cli/src/prelude.rs
  relayer/src/event/monitor.rs
Labels: enhancement, cli, user experience, needs guide update

#1629 Fix example config.toml, add regression test
  config.toml
  relayer-cli/tests/acceptance.rs
Labels: cli, testing, configuration

#1638 Pin the abscissa version to 0.6.0-beta.1
  relayer-cli/Cargo.toml
Labels: cli, dependencies

#1642 Bump Rust toolchain to 1.57, fix lints
  modules/src/clients/ics07_tendermint/client_def.rs
  modules/src/core/ics03_connection/connection.rs
  modules/src/core/ics03_connection/events.rs
  modules/src/core/ics04_channel/channel.rs
  modules/src/core/ics04_channel/events.rs
  modules/src/core/ics04_channel/packet.rs
  modules/src/timestamp.rs
  relayer-cli/src/components.rs
  relayer/src/config.rs
  relayer/src/config/error.rs
  relayer/src/config/reload.rs
  relayer/src/error.rs
  relayer/src/supervisor.rs
  relayer/src/supervisor/cmd.rs
  rust-toolchain.toml
Labels: code-hygiene

#1660 Bump MSRV to 1.57 and instruct clippy to lint against this version
  .changelog/unreleased/breaking-changes/1660-msrv-1.57.md
  .github/ISSUE_TEMPLATE/rust-update.md
  README.md
  clippy.toml
  guide/src/pre_requisites.md
  modules/Cargo.toml
  proto-compiler/Cargo.toml
  proto/Cargo.toml
  relayer-cli/Cargo.toml
  relayer-rest/Cargo.toml
  relayer-rest/README.md
  relayer/Cargo.toml
  telemetry/Cargo.toml
Labels: code-hygiene, infrastructure

#1665 Update to tendermint =0.23.2 and remove chrono
  .changelog/unreleased/breaking-changes/1665-tendermint-0.23.2.md
  .changelog/unreleased/breaking-changes/ibc/1665-remove-chrono.md
  .changelog/unreleased/improvements/ibc/1665-remove-chrono.md
  Cargo.lock
  Cargo.toml
  ci/no-std-check/Cargo.toml
  ci/no-std-check/src/lib.rs
  modules/Cargo.toml
  modules/src/applications/ics20_fungible_token_transfer/msgs/transfer.rs
  modules/src/clients/ics07_tendermint/client_def.rs
  modules/src/clients/ics07_tendermint/consensus_state.rs
  modules/src/clients/ics07_tendermint/header.rs
  modules/src/core/ics02_client/client_consensus.rs
  modules/src/core/ics04_channel/events.rs
  modules/src/core/ics04_channel/handler/send_packet.rs
  modules/src/core/ics04_channel/packet.rs
  modules/src/mock/client_state.rs
  modules/src/mock/header.rs
  modules/src/mock/host.rs
  modules/src/timestamp.rs
  proto/Cargo.toml
  relayer-cli/Cargo.toml
  relayer/Cargo.toml
  relayer/src/chain/cosmos.rs
  relayer/src/foreign_client.rs
  relayer/src/transfer.rs
  tools/integration-test/Cargo.toml
Labels: dependencies, breaking

#1583 Implement proof verification functions for Tendermint client
  .changelog/unreleased/features/ibc/1583-module-verification-ICS07.md
  modules/src/applications/ics20_fungible_token_transfer/msgs/transfer.rs
  modules/src/clients/ics07_tendermint/client_def.rs
  modules/src/clients/ics07_tendermint/client_state.rs
  modules/src/clients/ics07_tendermint/consensus_state.rs
  modules/src/clients/ics07_tendermint/error.rs
  modules/src/core/ics02_client/client_def.rs
  modules/src/core/ics02_client/context.rs
  modules/src/core/ics02_client/error.rs
  modules/src/core/ics02_client/handler/create_client.rs
  modules/src/core/ics03_connection/handler/conn_open_ack.rs
  modules/src/core/ics03_connection/handler/conn_open_confirm.rs
  modules/src/core/ics03_connection/handler/conn_open_try.rs
  modules/src/core/ics03_connection/handler/verify.rs
  modules/src/core/ics04_channel/context.rs
  modules/src/core/ics04_channel/error.rs
  modules/src/core/ics04_channel/handler/acknowledgement.rs
  modules/src/core/ics04_channel/handler/chan_close_confirm.rs
  modules/src/core/ics04_channel/handler/chan_open_ack.rs
  modules/src/core/ics04_channel/handler/chan_open_confirm.rs
  modules/src/core/ics04_channel/handler/chan_open_try.rs
  modules/src/core/ics04_channel/handler/recv_packet.rs
  modules/src/core/ics04_channel/handler/send_packet.rs
  modules/src/core/ics04_channel/handler/timeout.rs
  modules/src/core/ics04_channel/handler/timeout_on_close.rs
  modules/src/core/ics04_channel/handler/verify.rs
  modules/src/core/ics04_channel/msgs/recv_packet.rs
  modules/src/core/ics04_channel/msgs/timeout.rs
  modules/src/core/ics04_channel/msgs/timeout_on_close.rs
  modules/src/core/ics23_commitment/error.rs
  modules/src/core/ics23_commitment/merkle.rs
  modules/src/mock/client_def.rs
  modules/src/mock/context.rs
  modules/src/test.rs
  modules/src/timestamp.rs
  modules/tests/runner/mod.rs
Labels: modules

#1709 Bump rouille dependency to 3.5.0
  Cargo.lock
  relayer-rest/Cargo.toml
  telemetry/Cargo.toml
Labels: dependencies, security
