Repository informalsystems/hermes, pull requests merged in 2022-05, with the labels that each got.

#2161 Update to prost 0.10 and tonic 0.7
  Cargo.lock
  ci/no-std-check/Cargo.lock
  ci/no-std-check/Cargo.toml
  modules/Cargo.toml
  proto-compiler/Cargo.lock
  proto-compiler/Cargo.toml
  proto-compiler/src/cmd/compile.rs
  proto/Cargo.toml
  proto/src/prost/cosmos.auth.v1beta1.rs
  proto/src/prost/cosmos.base.abci.v1beta1.rs
  proto/src/prost/cosmos.base.kv.v1beta1.rs
  proto/src/prost/cosmos.base.query.v1beta1.rs
  proto/src/prost/cosmos.base.reflection.v1beta1.rs
  proto/src/prost/cosmos.base.reflection.v2alpha1.rs
  proto/src/prost/cosmos.base.snapshots.v1beta1.rs
  proto/src/prost/cosmos.base.store.v1beta1.rs
  proto/src/prost/cosmos.base.tendermint.v1beta1.rs
  proto/src/prost/cosmos.base.v1beta1.rs
  proto/src/prost/cosmos.crypto.multisig.v1beta1.rs
  proto/src/prost/cosmos.gov.v1beta1.rs
  proto/src/prost/cosmos.staking.v1beta1.rs
  proto/src/prost/cosmos.tx.signing.v1beta1.rs
  proto/src/prost/cosmos.tx.v1beta1.rs
  proto/src/prost/cosmos.upgrade.v1beta1.rs
  proto/src/prost/cosmos_proto.rs
  proto/src/prost/gogoproto.rs
  proto/src/prost/google.api.rs
  proto/src/prost/google.protobuf.rs
  proto/src/prost/ibc.applications.interchain_accounts.controller.v1.rs
  proto/src/prost/ibc.applications.interchain_accounts.host.v1.rs
  proto/src/prost/ibc.applications.interchain_accounts.v1.rs
  proto/src/prost/ibc.applications.transfer.v1.rs
  proto/src/prost/ibc.applications.transfer.v2.rs
  proto/src/prost/ibc.core.channel.v1.rs
  proto/src/prost/ibc.core.client.v1.rs
  proto/src/prost/ibc.core.commitment.v1.rs
  proto/src/prost/ibc.core.connection.v1.rs
  proto/src/prost/ibc.core.types.v1.rs
  proto/src/prost/ibc.lightclients.localhost.v1.rs
  proto/src/prost/ibc.lightclients.solomachine.v1.rs
  proto/src/prost/ibc.lightclients.solomachine.v2.rs
  proto/src/prost/ibc.lightclients.tendermint.v1.rs
  proto/src/prost/ibc.mock.rs
  proto/src/prost/ics23.rs
  proto/src/prost/tendermint.abci.rs
  proto/src/prost/tendermint.crypto.rs
  proto/src/prost/tendermint.p2p.rs
  proto/src/prost/tendermint.types.rs
  proto/src/prost/tendermint.version.rs
  relayer-cli/Cargo.toml
  relayer/Cargo.toml
  tools/integration-test/Cargo.toml
  tools/test-framework/Cargo.toml
Labels: dependencies

#2225 Fixed typo in section 6.1.4.2 of Hermes guide
  guide/src/tutorials/local-chains/relay-paths/multiple-paths.md
Labels: guide

#2232 Add `keys balance` command to query the balance for a key
  .changelog/unreleased/features/ibc-relayer-cli/912-balance-subcommand-cli.md
  guide/src/commands/keys/index.md
  relayer-cli/src/commands/keys.rs
  relayer-cli/src/commands/keys/balance.rs
  relayer/src/chain.rs
  relayer/src/chain/cosmos.rs
  relayer/src/chain/handle.rs
  relayer/src/chain/handle/base.rs
  relayer/src/chain/handle/cache.rs
  relayer/src/chain/handle/counting.rs
  relayer/src/chain/mock.rs
  relayer/src/chain/runtime.rs
  relayer/src/worker/wallet.rs
  tools/test-framework/src/relayer/chain.rs
Labels: enhancement, cli

#2248 Add `query channel client` command to query a channel's client state
  .changelog/unreleased/features/ibc-relayer-cli/999-channel-client-subcommand-cli.md
  guide/src/commands/queries/channel.md
  relayer-cli/src/commands/query.rs
  relayer-cli/src/commands/query/channel_client.rs
Labels: enhancement, cli
