Repository informalsystems/hermes, pull requests merged in 2022-12, with the labels that each got.

#2921 Fix acknowledgment issue
  crates/relayer-framework/src/base/relay/impls/message_senders/update_client.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/general/full_relay.rs
Labels: bug, relayer-next

#2932 Allow sub-contexts to have different `Error` types with functions to inject errors into `Self::Error`
  crates/relayer-cosmos/src/base/error.rs
  crates/relayer-cosmos/src/base/impls/chain.rs
  crates/relayer-cosmos/src/base/impls/relay.rs
  crates/relayer-cosmos/src/base/types/chain.rs
  crates/relayer-cosmos/src/base/types/mod.rs
  crates/relayer-cosmos/src/base/types/relay.rs
  crates/relayer-cosmos/src/base/types/runtime.rs
  crates/relayer-cosmos/src/contexts/full/chain.rs
  crates/relayer-cosmos/src/contexts/full/relay.rs
  crates/relayer-cosmos/src/full/impls/chain.rs
  crates/relayer-cosmos/src/transaction/impls/broadcast.rs
  crates/relayer-cosmos/src/transaction/impls/decoders/account.rs
  crates/relayer-cosmos/src/transaction/impls/encode.rs
  crates/relayer-cosmos/src/transaction/impls/estimate.rs
  crates/relayer-cosmos/src/transaction/impls/queries/account.rs
  crates/relayer-cosmos/src/transaction/impls/queries/tx.rs
  crates/relayer-cosmos/src/transaction/impls/response.rs
  crates/relayer-cosmos/src/transaction/impls/simulate.rs
  crates/relayer-cosmos/src/transaction/impls/wait.rs
  crates/relayer-cosmos/src/transaction/traits/decoders/account.rs
  crates/relayer-cosmos/src/transaction/traits/queries/account.rs
  crates/relayer-cosmos/src/transaction/traits/tx_sender.rs
  crates/relayer-framework/src/base/chain/traits/types.rs
  crates/relayer-framework/src/base/core/traits/error.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/types.rs
  crates/relayer-framework/src/base/one_for_all/impls/relay/types.rs
  crates/relayer-framework/src/base/one_for_all/impls/runtime.rs
  crates/relayer-framework/src/base/one_for_all/traits/chain.rs
  crates/relayer-framework/src/base/one_for_all/traits/relay.rs
  crates/relayer-framework/src/base/relay/impls/message_senders/chain_sender.rs
  crates/relayer-framework/src/base/relay/impls/messages/wait_update_client.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/general/full_relay.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/receive/skip_received_packet.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/timeout_unordered/wait_timeout.rs
  crates/relayer-framework/src/base/relay/traits/ibc_message_sender.rs
  crates/relayer-framework/src/base/relay/traits/target.rs
  crates/relayer-framework/src/base/relay/traits/types.rs
  crates/relayer-framework/src/base/relay/types/relay_to_chain.rs
  crates/relayer-framework/src/base/runtime/traits/runtime.rs
  crates/relayer-framework/src/base/transaction/traits/types.rs
  crates/relayer-framework/src/full/one_for_all/impls/batch.rs
  crates/relayer-framework/src/full/one_for_all/impls/preset.rs
  crates/relayer-framework/src/full/one_for_all/traits/batch.rs
  crates/relayer-framework/src/full/relay/impls/packet_relayers/retry.rs
  crates/relayer-runtime/src/tokio/context.rs
Labels: relayer-next

#2785 Mock chain context
  Cargo.lock
  Cargo.toml
  crates/relayer-framework-test/Cargo.toml
  crates/relayer-framework-test/src/lib.rs
  crates/relayer-framework-test/src/relayer_mock/base/error.rs
  crates/relayer-framework-test/src/relayer_mock/base/impls/chain.rs
  crates/relayer-framework-test/src/relayer_mock/base/impls/mod.rs
  crates/relayer-framework-test/src/relayer_mock/base/impls/relay.rs
  crates/relayer-framework-test/src/relayer_mock/base/mod.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/aliases.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/chain.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/events.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/height.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/message.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/mod.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/packet.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/runtime.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/state.rs
  crates/relayer-framework-test/src/relayer_mock/contexts/chain.rs
  crates/relayer-framework-test/src/relayer_mock/contexts/mod.rs
  crates/relayer-framework-test/src/relayer_mock/contexts/relay.rs
  crates/relayer-framework-test/src/relayer_mock/mod.rs
  crates/relayer-framework-test/src/relayer_mock/util/clock.rs
  crates/relayer-framework-test/src/relayer_mock/util/mod.rs
  crates/relayer-framework-test/src/relayer_mock/util/mutex.rs
  crates/relayer-framework-test/src/tests/mock.rs
  crates/relayer-framework-test/src/tests/mod.rs
  crates/relayer-framework-test/src/tests/util/context.rs
  crates/relayer-framework-test/src/tests/util/mod.rs
  crates/relayer-framework/Cargo.toml
Labels: relayer-next

#2907 Implement ability to query for IBC write acknowledgements
  crates/relayer-cosmos/src/base/impls/chain.rs
  crates/relayer-framework/src/base/chain/traits/queries/mod.rs
  crates/relayer-framework/src/base/chain/traits/queries/status.rs
  crates/relayer-framework/src/base/chain/traits/queries/write_acknowledgement.rs
  crates/relayer-framework/src/base/chain/traits/types.rs
  crates/relayer-framework/src/base/one_for_all/traits/chain.rs
  crates/relayer/src/link.rs
  docs/architecture/adr-012-ibc-relayer-v2.md
Labels: relayer-next

#2959 Use `Arc` in one-for-all wrappers
  crates/relayer-cosmos/src/base/types/chain.rs
  crates/relayer-cosmos/src/base/types/relay.rs
  crates/relayer-cosmos/src/contexts/full/chain.rs
  crates/relayer-cosmos/src/contexts/full/relay.rs
  crates/relayer-cosmos/src/contexts/min/chain.rs
  crates/relayer-cosmos/src/contexts/min/relay.rs
  crates/relayer-cosmos/src/full/impls/chain.rs
  crates/relayer-cosmos/src/full/traits/chain.rs
  crates/relayer-cosmos/src/full/types/telemetry.rs
  crates/relayer-framework-test/src/tests/util/context.rs
  crates/relayer-framework/src/base/one_for_all/traits/runtime.rs
  crates/relayer-framework/src/base/one_for_all/types/chain.rs
  crates/relayer-framework/src/base/one_for_all/types/relay.rs
  crates/relayer-framework/src/base/one_for_all/types/runtime.rs
  crates/relayer-framework/src/full/one_for_all/impls/chain.rs
  crates/relayer-framework/src/full/one_for_all/impls/telemetry.rs
  crates/relayer-framework/src/full/one_for_all/traits/chain.rs
  crates/relayer-framework/src/full/one_for_all/traits/relay.rs
  crates/relayer-framework/src/full/one_for_all/traits/telemetry.rs
  crates/relayer-framework/src/full/one_for_all/types/batch/aliases.rs
  crates/relayer-framework/src/full/one_for_all/types/batch/mod.rs
  crates/relayer-framework/src/full/one_for_all/types/mod.rs
  crates/relayer-framework/src/full/one_for_all/types/telemetry.rs
  crates/relayer-runtime/src/tokio/context.rs
  tools/integration-test/src/tests/next/context.rs
Labels: relayer-next

#2960 Add incoming and outgoing packet types to chain context
  Cargo.lock
  crates/relayer-cosmos/src/base/impls/chain.rs
  crates/relayer-cosmos/src/base/impls/relay.rs
  crates/relayer-framework-test/Cargo.toml
  crates/relayer-framework-test/src/relayer_mock/base/impls/chain.rs
  crates/relayer-framework-test/src/relayer_mock/base/impls/relay.rs
  crates/relayer-framework-test/src/relayer_mock/base/types/message.rs
  crates/relayer-framework-test/src/relayer_mock/contexts/chain.rs
  crates/relayer-framework-test/src/tests/mock.rs
  crates/relayer-framework/src/base/all_for_one/relay.rs
  crates/relayer-framework/src/base/chain/traits/message/mod.rs
  crates/relayer-framework/src/base/chain/traits/message/receive_packet.rs
  crates/relayer-framework/src/base/chain/traits/mod.rs
  crates/relayer-framework/src/base/chain/traits/types.rs
  crates/relayer-framework/src/base/chain/traits/types/chain.rs
  crates/relayer-framework/src/base/chain/traits/types/event.rs
  crates/relayer-framework/src/base/chain/traits/types/ibc.rs
  crates/relayer-framework/src/base/chain/traits/types/message.rs
  crates/relayer-framework/src/base/chain/traits/types/mod.rs
  crates/relayer-framework/src/base/chain/traits/types/packet.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/message/mod.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/message/receive_packet.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/mod.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/queries/consensus_state.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/queries/received_packet.rs
  crates/relayer-framework/src/base/one_for_all/impls/chain/types.rs
  crates/relayer-framework/src/base/one_for_all/impls/preset.rs
  crates/relayer-framework/src/base/one_for_all/impls/relay/message_builders/mod.rs
  crates/relayer-framework/src/base/one_for_all/impls/relay/message_builders/receive_packet.rs
  crates/relayer-framework/src/base/one_for_all/impls/relay/types.rs
  crates/relayer-framework/src/base/one_for_all/instances/all_for_one.rs
  crates/relayer-framework/src/base/one_for_all/instances/context.rs
  crates/relayer-framework/src/base/one_for_all/traits/chain.rs
  crates/relayer-framework/src/base/one_for_all/traits/relay.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/general/full_relay.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/receive/base_receive_packet.rs
  crates/relayer-framework/src/base/relay/impls/packet_relayers/receive/skip_received_packet.rs
  crates/relayer-framework/src/base/relay/traits/messages/mod.rs
  crates/relayer-framework/src/base/relay/traits/messages/receive_packet.rs
  crates/relayer-framework/src/base/relay/traits/types.rs
  crates/relayer-framework/src/base/relay/types/relay_to_chain.rs
  crates/relayer-framework/src/full/batch/impls/spawn.rs
  crates/relayer-framework/src/full/batch/worker.rs
  crates/relayer-framework/src/full/one_for_all/impls/preset.rs
Labels: relayer-next

#2951 Add issue template for tracking issues
  .github/ISSUE_TEMPLATE/tracking-issue.md
Labels: admin
