Repository informalsystems/hermes, pull requests merged in 2022-01, with the labels that each got.

#1743 Rename application-handled -h CLI flags to -H
  .changelog/unreleased/improvements/ibc-relayer/1576-update-abscissa.md
  guide/src/commands/path-setup/clients.md
  guide/src/commands/queries/channel.md
  guide/src/commands/queries/client.md
  guide/src/commands/queries/connection.md
  guide/src/commands/queries/packet.md
  guide/src/commands/raw/client.md
  relayer-cli/src/commands/query/channel.rs
  relayer-cli/src/commands/query/channel_ends.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/query/connection.rs
  relayer-cli/src/commands/query/packet/ack.rs
  relayer-cli/src/commands/query/packet/commitment.rs
  relayer-cli/src/commands/tx/client.rs
Labels: cli, needs guide update

#1762 Update to tendermint 0.23.4
  .changelog/unreleased/improvements/1641-tendermint-0.23.4.md
  Cargo.lock
  Cargo.toml
  guide/src/pre_requisites.md
  modules/Cargo.toml
  proto/Cargo.toml
  relayer-cli/Cargo.toml
  relayer/Cargo.toml
  tools/integration-test/Cargo.toml
Labels: dependencies, needs guide update

#1749 Build binaries for aarch64
  .changelog/unreleased/1749-build-aarch64.md
  .changelog/unreleased/improvements/1641-tendermint-0.23.4.md
  .github/workflows/release.yml
Labels: infrastructure, CI/CD

#1748 Update tendermint-rs to v0.23.5 and use verification functions from `tendermint-light-client-verifier`
  .changelog/unreleased/breaking-changes/1767-tendermint-rs-0.23.5.md
  Cargo.lock
  Cargo.toml
  modules/Cargo.toml
  modules/src/clients/ics07_tendermint/client_def.rs
  modules/src/clients/ics07_tendermint/client_state.rs
  modules/src/clients/ics07_tendermint/error.rs
  modules/src/mock/host.rs
  proto/Cargo.toml
  relayer-cli/Cargo.toml
  relayer-cli/src/config.rs
  relayer/Cargo.toml
  relayer/src/chain/cosmos.rs
  relayer/src/config.rs
  relayer/src/light_client/tendermint.rs
  tools/integration-test/Cargo.toml
Labels: no-std

#1747 Hide `ibc::Timestamp::now()` behind `clock` feature flag
  .changelog/unreleased/breaking-changes/1612-ibc-clock.md
  modules/Cargo.toml
  modules/src/clients/ics07_tendermint/client_def.rs
  modules/src/core/ics02_client/client_def.rs
  modules/src/core/ics02_client/handler.rs
  modules/src/core/ics02_client/handler/create_client.rs
  modules/src/core/ics02_client/handler/update_client.rs
  modules/src/core/ics02_client/handler/upgrade_client.rs
  modules/src/core/ics26_routing/handler.rs
  modules/src/mock/client_def.rs
  modules/src/mock/context.rs
  modules/src/timestamp.rs
  relayer/Cargo.toml
Labels: no-std

#1778 Fix up changelog link for #1612
  .changelog/unreleased/breaking-changes/1612-ibc-clock.md
Labels: CI/CD

#1777 Update to abscissa 0.6.0-rc.0 and clap 3.0
  .changelog/unreleased/improvements/ibc-relayer-cli/1777-update-abscissa-and-clap.md
  Cargo.lock
  modules/Cargo.toml
  relayer-cli/Cargo.toml
  relayer-cli/src/commands.rs
  relayer-cli/src/commands/config.rs
  relayer-cli/src/commands/config/validate.rs
  relayer-cli/src/commands/create.rs
  relayer-cli/src/commands/create/channel.rs
  relayer-cli/src/commands/create/connection.rs
  relayer-cli/src/commands/health.rs
  relayer-cli/src/commands/keys.rs
  relayer-cli/src/commands/keys/add.rs
  relayer-cli/src/commands/keys/delete.rs
  relayer-cli/src/commands/keys/list.rs
  relayer-cli/src/commands/keys/restore.rs
  relayer-cli/src/commands/listen.rs
  relayer-cli/src/commands/misbehaviour.rs
  relayer-cli/src/commands/query.rs
  relayer-cli/src/commands/query/channel.rs
  relayer-cli/src/commands/query/channel_ends.rs
  relayer-cli/src/commands/query/channels.rs
  relayer-cli/src/commands/query/client.rs
  relayer-cli/src/commands/query/clients.rs
  relayer-cli/src/commands/query/connection.rs
  relayer-cli/src/commands/query/connections.rs
  relayer-cli/src/commands/query/packet.rs
  relayer-cli/src/commands/query/packet/ack.rs
  relayer-cli/src/commands/query/packet/acks.rs
  relayer-cli/src/commands/query/packet/commitment.rs
  relayer-cli/src/commands/query/packet/commitments.rs
  relayer-cli/src/commands/query/packet/unreceived_acks.rs
  relayer-cli/src/commands/query/packet/unreceived_packets.rs
  relayer-cli/src/commands/query/tx.rs
  relayer-cli/src/commands/query/tx/events.rs
  relayer-cli/src/commands/start.rs
  relayer-cli/src/commands/tx.rs
  relayer-cli/src/commands/tx/channel.rs
  relayer-cli/src/commands/tx/client.rs
  relayer-cli/src/commands/tx/connection.rs
  relayer-cli/src/commands/tx/packet.rs
  relayer-cli/src/commands/tx/transfer.rs
  relayer-cli/src/commands/tx/upgrade.rs
  relayer-cli/src/commands/update.rs
  relayer-cli/src/commands/upgrade.rs
  relayer-cli/src/commands/version.rs
  relayer-cli/src/entry.rs
Labels: cli, dependencies

#1790 Add a `--denom` option to the `tx raw upgrade-chain` command to make the deposit denomination configurable
  .changelog/unreleased/breaking-changes/ibc-relayer/1662-configurable-upgrade-denom.md
  .changelog/unreleased/improvements/ibc-relayer-cli/1662-configurable-upgrade-denom.md
  Cargo.lock
  relayer-cli/src/commands/tx/upgrade.rs
  relayer/src/upgrade_chain.rs
Labels: cli, relayer, user experience, needs guide update

#1789 CLI auto-completions
  .changelog/unreleased/improvements/ibc-relayer-cli/1789-cli-completions.md
  Cargo.lock
  relayer-cli/Cargo.toml
  relayer-cli/src/commands.rs
  relayer-cli/src/commands/completions.rs
  relayer/src/chain.rs
Labels: enhancement, cli

#1807 cli: ADR-006 options for the create client command
  .changelog/unreleased/breaking-changes/ibc-relayer/1807-foreign-client-create-params.md
  .changelog/unreleased/improvements/ibc-relayer-cli/836-create-client-options.md
  Cargo.lock
  relayer-cli/Cargo.toml
  relayer-cli/src/commands/tx/client.rs
  relayer/src/config.rs
  relayer/src/foreign_client.rs
  tools/integration-test/src/bootstrap/binary/chain.rs
Labels: enhancement, cli, needs guide update

#1822 Skip config processing for the completions command
  .changelog/unreleased/bug-fixes/ibc-relayer-cli/1822-skip-config-for-completions.md
  relayer-cli/src/entry.rs
Labels: cli, user experience

#1824 Improve help and documentation on clock drift
  relayer-cli/src/commands/tx/client.rs
  relayer/src/config.rs
Labels: documentation, user experience, needs guide update
