Repository informalsystems/hermes, pull requests merged in 2023-08, with the labels that each got.

#3518 Fix interchain-security tests flakiness
  tools/integration-test/src/tests/interchain_security/ica_transfer.rs
  tools/integration-test/src/tests/interchain_security/icq.rs
  tools/integration-test/src/tests/interchain_security/simple_transfer.rs
  tools/test-framework/src/bootstrap/consumer.rs
  tools/test-framework/src/util/interchain_security.rs
  tools/test-framework/src/util/mod.rs
Labels: I: CI/CD, O: interchain-security

#3495 Add missing CLIs for channel upgrade
  crates/relayer-cli/src/commands/tx.rs
  crates/relayer-cli/src/commands/tx/channel.rs
  crates/relayer-types/src/core/ics04_channel/timeout.rs
  guide/src/templates/commands/hermes/tx/chan-upgrade-ack_1.md
  guide/src/templates/commands/hermes/tx/chan-upgrade-open_1.md
  guide/src/templates/commands/hermes/tx/chan-upgrade-try_1.md
  guide/src/templates/help_templates/tx.md
  guide/src/templates/help_templates/tx/chan-upgrade-ack.md
  guide/src/templates/help_templates/tx/chan-upgrade-init.md
  guide/src/templates/help_templates/tx/chan-upgrade-open.md
  guide/src/templates/help_templates/tx/chan-upgrade-try.md
  tools/check-guide/Cargo.lock
  tools/check-guide/Cargo.toml
Labels: I: CLI, O: channel-upgradeability

#3544 Reduce CI flakiness by using `cargo-nextest`
  .github/workflows/integration.yaml
  .github/workflows/multi-chains.yaml
  .github/workflows/rust.yml
Labels: CI: multi-chains
