Repository informalsystems/hermes, pull requests merged in 2023-04, with the labels that each got.

#3221 Re-enable retries on CI
  .github/workflows/integration.yaml
  .github/workflows/multi-chains.yaml
Labels: CI: multi-chains

#3240 Update Nix flake and add Juno to chains tested
  .changelog/unreleased/improvements/ibc-integration-test/3235-add-juno.md
  .github/workflows/integration.yaml
  .github/workflows/multi-chains.yaml
  flake.lock
  flake.nix
Labels: CI: multi-chains, O: testability

#3247 Add integration tests for channel upgradability
  crates/relayer-types/src/events.rs
  crates/relayer/src/cache.rs
  crates/relayer/src/channel.rs
  crates/relayer/src/event.rs
  tools/integration-test/Cargo.toml
  tools/integration-test/src/tests/channel_upgrade/manual_channel_upgrade.rs
  tools/integration-test/src/tests/channel_upgrade/mod.rs
  tools/integration-test/src/tests/mod.rs
  tools/test-framework/src/bootstrap/binary/chain.rs
  tools/test-framework/src/relayer/channel.rs
  tools/test-framework/src/relayer/driver.rs
Labels: O: tests, O: channel-upgradeability

#3264 Update nix flake to use simd v7.0.0
  flake.lock
Labels: CI: multi-chains

#3273 Configurable keyring store directory
  .changelog/unreleased/improvements/ibc-relayer/1541-config-keyring-store-directory.md
  config.toml
  crates/relayer-cli/src/chain_registry.rs
  crates/relayer-cli/src/commands/keys/add.rs
  crates/relayer-cli/src/commands/keys/delete.rs
  crates/relayer/src/chain/cosmos.rs
  crates/relayer/src/chain/cosmos/batch.rs
  crates/relayer/src/config.rs
  crates/relayer/src/keyring.rs
  tools/integration-test/src/tests/client_refresh.rs
  tools/test-framework/src/bootstrap/binary/chain.rs
  tools/test-framework/src/bootstrap/nary/chain.rs
  tools/test-framework/src/types/single/node.rs
Labels: O: new-feature, O: tests, I: configuration

#3275 Enable default misbehaviour detection
  .changelog/unreleased/improvements/ibc-relayer/3001-default-misbehaviour-detection-true.md
  config.toml
  crates/relayer/src/config.rs
  guide/src/templates/files/hermes/production/config.toml
Labels: O: security, I: configuration

#3278 Update chain versions used in integration tests
  flake.lock
Labels: CI: multi-chains, O: testability
