Repository informalsystems/hermes, pull requests merged in 2023-03, with the labels that each got.

#3133 Add configuration to filter fee packets using `recv fee` as criteria
  .changelog/unreleased/features/ibc-integration-test/1966-test-filter-incentivized-packets.md
  .changelog/unreleased/features/ibc-relayer/1966-filter-incentivized-packets.md
  config.toml
  crates/relayer-cli/src/chain_registry.rs
  crates/relayer-types/src/applications/transfer/amount.rs
  crates/relayer/src/chain/cosmos.rs
  crates/relayer/src/chain/cosmos/query/fee.rs
  crates/relayer/src/chain/endpoint.rs
  crates/relayer/src/chain/handle.rs
  crates/relayer/src/chain/handle/base.rs
  crates/relayer/src/chain/handle/cache.rs
  crates/relayer/src/chain/handle/counting.rs
  crates/relayer/src/chain/runtime.rs
  crates/relayer/src/config.rs
  crates/relayer/src/config/filter.rs
  crates/relayer/src/event/rpc.rs
  crates/relayer/src/object.rs
  crates/relayer/src/supervisor.rs
  crates/relayer/src/supervisor/scan.rs
  crates/relayer/src/worker.rs
  crates/relayer/src/worker/packet.rs
  crates/relayer/tests/config/fixtures/relayer_conf_example_fee_filter.toml
  guide/src/SUMMARY.md
  guide/src/documentation/configuration/filter-incentivized.md
  guide/src/documentation/configuration/index.md
  tools/integration-test/src/tests/fee/filter_fees.rs
  tools/integration-test/src/tests/fee/mod.rs
  tools/integration-test/src/tests/ica.rs
  tools/test-framework/src/relayer/chain.rs
Labels: O: new-feature, I: configuration, O: ics29-fee

#3157 Update `flake.lock`
  .github/workflows/multi-chains.yaml
  flake.lock
Labels: CI: multi-chains

#3168 Submit batch messages asynchronously in separate task
  .github/workflows/integration.yaml
  crates/relayer-components-extra/src/batch/worker.rs
  crates/relayer-cosmos/src/base/impls/relay.rs
Labels: O: relayer-next

#3173 Remove duplicate events inside Cosmos event subscription
  Cargo.lock
  crates/relayer-cosmos/Cargo.toml
  crates/relayer-cosmos/src/base/all_for_one/chain.rs
  crates/relayer-cosmos/src/base/impls/chain.rs
  crates/relayer-cosmos/src/base/impls/subscription.rs
  crates/relayer-cosmos/src/base/impls/transaction.rs
  crates/relayer-cosmos/src/base/types/chain.rs
  crates/relayer-cosmos/src/full/types/batch.rs
Labels: O: relayer-next

#3179 Update `flake.lock` in order to test SDK compatibility
  crates/relayer/src/chain/cosmos/compatibility.rs
  flake.lock
  guide/src/advanced/features.md
Labels: I: dependencies, E: multi-version, CI: multi-chains

#3186 Add ICS29 section in Hermes guide
  .changelog/unreleased/improvements/guide/3185-ics29-guide-section.md
  guide/src/SUMMARY.md
  guide/src/documentation/commands/fee/index.md
  guide/src/documentation/commands/fee/register-counterparty-payee.md
  guide/src/documentation/commands/fee/register-payee.md
  guide/src/documentation/commands/fee/transfer.md
Labels: I: guide, O: ics29-fee

#3188 Update chains used in integration tests
  .github/workflows/integration.yaml
  .github/workflows/multi-chains.yaml
  flake.lock
  flake.nix
  tools/integration-test/src/tests/client_upgrade.rs
  tools/test-framework/src/bootstrap/single.rs
  tools/test-framework/src/chain/cli/upgrade.rs
  tools/test-framework/src/chain/ext/proposal.rs
  tools/test-framework/src/relayer/tx.rs
  tools/test-framework/src/types/single/node.rs
Labels: I: CI/CD, CI: multi-chains, O: testability

#3205 Document relay contexts
  crates/relayer-components-extra/src/relay/impls/auto_relayers/parallel_bidirectional.rs
  crates/relayer-components-extra/src/relay/impls/auto_relayers/parallel_two_way.rs
  crates/relayer-components/src/builder/traits/birelay.rs
  crates/relayer-components/src/relay/impls/auto_relayers/concurrent_bidirectional.rs
  crates/relayer-components/src/relay/impls/auto_relayers/concurrent_event.rs
  crates/relayer-components/src/relay/impls/auto_relayers/concurrent_two_way.rs
  crates/relayer-components/src/relay/traits/auto_relayer.rs
  crates/relayer-components/src/relay/traits/two_way.rs
Labels: I: documentation, O: relayer-next
