Repository informalsystems/hermes, pull requests merged in 2024-06, with the labels that each got.

#3997 Add support for multiple connection hops in `tx chan-open-try`
  crates/relayer-cli/src/commands/create/channel.rs
  crates/relayer-cli/src/commands/start.rs
  crates/relayer-cli/src/commands/tx/channel.rs
  crates/relayer-cli/src/error.rs
  crates/relayer-types/src/core/ics33_multihop/channel_path.rs
  crates/relayer-types/src/core/ics33_multihop/mod.rs
  crates/relayer-types/src/core/ics33_multihop/proofs.rs
  crates/relayer/src/chain/handle.rs
  crates/relayer/src/channel.rs
  crates/relayer/src/channel/error.rs
  crates/relayer/src/foreign_client.rs
  crates/relayer/src/link.rs
  crates/relayer/src/registry.rs
  crates/relayer/src/supervisor.rs
  guide/src/templates/help_templates/tx/chan-open-init.md
  tools/check-guide/Cargo.lock
  tools/check-guide/Cargo.toml
  tools/test-framework/src/bootstrap/binary/chain.rs
  tools/test-framework/src/bootstrap/binary/channel.rs
  tools/test-framework/src/bootstrap/nary/chain.rs
  tools/test-framework/src/relayer/channel.rs
  tools/test-framework/src/relayer/driver.rs
Labels: O: new-feature, O: multi-hop

#4054 Reduce ICS29 tests run time
  .changelog/unreleased/improvements/ibc-integration-test/4053-reduce-ics29-tests-run-time.md
  tools/integration-test/src/tests/fee/filter_fees.rs
  tools/integration-test/src/tests/fee/pay_fee_async.rs
  tools/test-framework/src/chain/driver.rs
  tools/test-framework/src/chain/tagged.rs
Labels: O: ics29-fee, O: testability

#4050 Add multihop support for `tx chan-open-ack`
  crates/relayer-cli/src/commands/tx/channel.rs
  crates/relayer/src/channel.rs
  crates/relayer/src/channel/error.rs
Labels: O: multi-hop

#4067 Add support for multiple connection hops in `create channel` command
  crates/relayer-cli/src/commands/create/channel.rs
  crates/relayer-cli/src/commands/tx/channel.rs
  crates/relayer-cli/src/error.rs
  crates/relayer/src/channel.rs
  guide/src/templates/commands/hermes/create/channel_3.md
  guide/src/templates/commands/hermes/create/channel_4.md
  guide/src/templates/help_templates/create/channel.md
Labels: O: multi-hop
